# 연도별 개인 총소득 분포

In [25]:
import datetime
import numpy as np
import pandas as pd

import plotly.graph_objects as go
from ipywidgets import widgets
from pathlib import Path

sns.set_theme(style="whitegrid")

data_dir = Path('/Users/suzinyou/Dropbox/가천대 서울연구원 프로젝트/10. 데이터산출물')

In [11]:
gdrive = Path('/Users/suzinyou/Google Drive/가천대 불평등과 사회정책 연구소/Data')

In [13]:
inc_tot_centiles = pd.read_csv(gdrive / '03_quantiles'/ 'bfc_seoul_indi_centile_inc_tot.csv')

In [78]:
centiles = pd.read_csv(data_dir / '03_quantiles' / 'seoul_indi_centile.csv')

In [20]:
centiles.head()

,std_yyyy,var,rank,freq,rank_min,rank_max,rank_mean,rank_sum
0,2002,inc_wage,NaN,15807091,NaN,NaN,NaN,NaN
1,2002,prop_txb,NaN,15807091,NaN,NaN,NaN,NaN
2,2003,inc_wage,NaN,12151505,NaN,NaN,NaN,NaN
3,2003,inc_wage,0.0,37808,1.0,590000.0,350751.65404,1.326122e+10
4,2003,inc_wage,1.0,37646,590060.0,874390.0,740548.90156,2.787870e+10

In [21]:
centiles.loc[:, 'var'] = centiles['var'].apply(lambda x: 'prop_txbs_hs' if x == 'prop_txb' else x)

In [15]:
inc_tot_centiles['var'] = 'inc_tot'

In [23]:
inc_tot_centiles.loc[:, 'rank_mean'] = inc_tot_centiles['rank_sum'] / inc_tot_centiles['freq']

In [24]:
centiles = centiles.append(inc_tot_centiles)

In [59]:
year = widgets.IntSlider(
    value=2018,
    min=2003,
    max=2018,
    step=1.0,
    description='연도',
    continuous_update=False
)

variable = widgets.Dropdown(
    options=list(centiles['var'].unique()),
    value='inc_tot',
    description='변수',
)

fix_y_range = widgets.Checkbox(
    description='y축 범위 고정?',
    value=True,
)
# Assign an empty figure widget with two traces
trace1 = go.Scatter(x=centiles['rank'], y=centiles['rank_mean'], fill='tozeroy')
g = go.FigureWidget(data=[trace1],
                    layout=go.Layout(
                        title=dict(
                            text='100분위 분위별 평균'
                        ),
                    ))

In [63]:
def response(change):
    filter_list = (centiles['std_yyyy'] == year.value) & (centiles['var'] == variable.value)
    temp_df = centiles[filter_list]

    x1 = temp_df['rank']
    with g.batch_update():
        g.data[0].x = x1
        g.data[0].y = temp_df['rank_mean']
        g.layout.xaxis.title = '분위'
        g.layout.yaxis.title = f'평균 {variable.value}'
        if fix_y_range.value:
            if variable.value == 'inc_tot':
                g.layout.yaxis.range = [0., 500*1e6]
            elif variable.value == 'inc_wage':
                g.layout.yaxis.range = [0., 400*1e6]
            else:
                g.layout.yaxis.range = [0., 1.4*1e9]
        else:
            g.layout.yaxis.autorange = True

year.observe(response, names="value")
fix_y_range.observe(response, names="value")
variable.observe(response, names="value")

In [64]:
container = widgets.HBox(children=[variable, fix_y_range, year])

widgets.VBox([container, g])

VBox(children=(HBox(children=(Dropdown(description='변수', options=('inc_wage', 'prop_txbs_hs', 'inc_tot'), valu…

## 상위 1% 1000분위 분위별 평균

In [95]:
year1p = widgets.IntSlider(
    value=2018,
    min=2003,
    max=2018,
    step=1.0,
    description='연도',
    continuous_update=False
)

variable1p = widgets.Dropdown(
    options=list(toppct['var'].unique()),
    value='inc_wage',
    description='변수',
)

fix_y_range1p = widgets.Checkbox(
    description='y축 범위 고정?',
    value=True,
)
# Assign an empty figure widget with two traces
trace2 = go.Scatter(x=toppct['rank'], y=toppct['rank_mean'], fill='tozeroy')
g = go.FigureWidget(data=[trace2],
                    layout=go.Layout(
                        title=dict(
                            text='100분위 분위별 평균'
                        ),
                    ))

In [100]:
def response(change):
    filter_list = (toppct['std_yyyy'] == year1p.value) & (toppct['var'] == variable1p.value)
    temp_df = toppct[filter_list]

    x1 = temp_df['rank']
    with g.batch_update():
        g.data[0].x = x1
        g.data[0].y = temp_df['rank_mean']
        g.layout.xaxis.title = '분위'
        g.layout.yaxis.title = f'평균 {variable1p.value}'
        if fix_y_range1p.value:
            if variable1p.value == 'inc_tot':
                g.layout.yaxis.range = [0., 5000*1e6]
            elif variable1p.value == 'inc_wage':
                g.layout.yaxis.range = [0.,12*1e9]
            else:
                g.layout.yaxis.range = [0., 20*1e9]
        else:
            g.layout.yaxis.autorange = True

year1p.observe(response, names="value")
fix_y_range1p.observe(response, names="value")
variable1p.observe(response, names="value")

In [101]:
container = widgets.HBox(children=[variable1p, fix_y_range1p, year1p])

widgets.VBox([container, g])

VBox(children=(HBox(children=(Dropdown(description='변수', index=1, options=('inc_wage', 'prop_txb'), value='pro…

In [69]:
toppct = pd.read_csv(data_dir / '03_quantiles' / 'seoul_indi_top1p_1000tile.csv')

In [89]:
inc_tot_toppct = pd.read_csv(gdrive / '03_quantiles'/ 'bfc_seoul_indi_toppct_inc_tot-상위1프로1000분위.csv')
inc_tot_toppct.loc[:, 'rank_mean'] = inc_tot_toppct['rank_sum'] / inc_tot_toppct['freq']
inc_tot_toppct.loc[:, 'var'] = 'inc_tot'

In [103]:
inc_tot_toppct.groupby(['std_yyyy', 'var']).sum().tail(6)

,,rank,freq,rank_min,rank_max,rank_sum,rank_mean
std_yyyy,var,,,,,,
2013,inc_tot,499500,81150,406210802983,506109252753,3.367990e+13,4.150788e+11
2014,inc_tot,498553,84515,414616919216,445800276628,3.567321e+13,4.210696e+11
2015,inc_tot,499500,88552,417631084355,577333849050,3.774811e+13,4.263496e+11
2016,inc_tot,498544,91530,424946356278,494707635069,3.969486e+13,4.325374e+11
2017,inc_tot,499500,95199,450016999061,493734944389,4.358139e+13,4.578329e+11
2018,inc_tot,499500,98050,461223648904,510015009122,4.594367e+13,4.685961e+11

In [102]:
toppct.groupby(['std_yyyy', 'var']).sum().tail(6)

                     rank   freq       rank_min       rank_max     rank_mean  \
std_yyyy var
2016     inc_wage  496547  36567   377141079372   392523851359  3.826914e+11
         prop_txb  455684  25850  1088284543292  1127458612895  1.098685e+12
2017     inc_wage  496211  37158   396687268022   429330757989  4.043447e+11
         prop_txb  454047  26211  1183974572651  1228420303007  1.196545e+12
2018     inc_wage  495558  37875   406935983959   426750289563  4.124247e+11
         prop_txb  439194  26291  1255370374170  1305626560367  1.268547e+12

                       rank_sum
std_yyyy var
2016     inc_wage  1.406555e+13
         prop_txb  3.223484e+13
2017     inc_wage  1.512456e+13
         prop_txb  3.571266e+13
2018     inc_wage  1.574977e+13
         prop_txb  3.911712e+13