In [1]:
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from ipywidgets import widgets
from pathlib import Path

sns.set(font_scale=2)
sns.set_theme(style="whitegrid")

data_dir = Path('/Users/suzinyou/Dropbox/가천대 서울연구원 프로젝트/10. 데이터산출물')
gdrive = Path('/Users/suzinyou/Google Drive/가천대 불평등과 사회정책 연구소/Data')

In [2]:
df = pd.read_csv(data_dir / '02_mean_median' / 'seoul_agegroup.csv')

In [5]:
df.head()

,STD_YYYY,age_group,count,mean_inc_tot,median_inc_tot,mean_inc_wage,median_inc_wage,mean_inc_bus,median_inc_bus,mean_prop_txbs_tot,median_prop_txbs_tot,mean_prop_txbs_hs,median_prop_txbs_hs
0,2002,0-14,2157820,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0
1,2002,15-19,710253,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0
2,2002,20-24,982627,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0
3,2002,25-29,1184378,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0
4,2002,30-34,1268528,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0

In [3]:
stat2ko = {
    'mean': '평균',
    'max': '최대', 'min': '최소', 'std': '표준편차', 'count':''
}
var2ko = {
    'inc_tot': '총소득', 'inc_wage':'근로소득', 'inc_bus':'사업소득', 'prop_txbs_tot':'총재산과세표준',
    'prop_txbs_hs': '주택과세표준'}

In [8]:
def save_dist_chart(var):
    spl = var.split('_')
    stat = spl[0]
    vname = '_'.join(spl[1:])
    fig = px.bar(df[df.STD_YYYY.apply(lambda x: x in (2006, 2010, 2014, 2018))], 
                 x="age_group", y=var,facet_col='STD_YYYY', facet_col_wrap=2,
                 title=f"연령대별 {stat2ko[stat]} {var2ko[vname]}",
                 width=100*12, height=100*8)
    # fig.update_traces(line=dict(width=2.4))
    fig.update_layout(margin={"r":16,"t":72,"l":16,"b":16}, plot_bgcolor='rgba(235,242,249,1)')
    fig.write_image(f"../reports/figures/agegroup-{var}.png")

In [9]:
for v in ['inc_wage', 'inc_tot', 'prop_txbs_hs']:
    save_dist_chart('mean_'+v)